{% extends 'dashboard.html' %}

{% block content %}
    <div class="row">
        <div class="col mt-3">
            <button class="btn btn-success float-right" data-target="#add_categorie_modal" data-toggle="modal">Ajouter une categorie</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des catégories</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Libelle</th>
                            <th width="65%">Description</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{ categorie.libelle|capfirst }}</td>
                                <td>{{ categorie.description }}</td>
                                <td class="text-center">
                                    <a href="{% url 'categorie_detail' categorie.id %}" class="text-info categorie_edit_btn" data-toggle="modal" data-target="#edit_categorie_modal"><i class="fa fa-edit"></i></a>
                                    <a href="{% url 'categorie_delete' categorie.id %}" class="text-danger delete_btn" data-toggle="modal"  data-target="#delete_confirmation_modal"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {


            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        errorToast("{{ error }}")
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                     displayToast("{{ message }}", "{{ message.tags }}")
                {% endfor %}
            {% endif %}

            {#edit btn#}

            $('.categorie_edit_btn').click(function (e) {
                e.preventDefault();
                url = $(this).attr('href')
                $.get(url, function (data) {
                    $('#edit_categorie_modal form').attr('action', '/categories/'+data.id+'/edit/')
                    $('#edit_categorie_modal form')[0].reset()
                    $('#edit_categorie_modal .categorie_libelle').val(data.libelle)
                    $('#edit_categorie_modal .categorie_description').val(data.description)
                })
            });
        });
    </script>
{% endblock %}